@CHARSET "UTF-8";

/* 1920 */

@media only screen and (min-width: 1920px){
		
}

@media only screen and (max-width: 1080px){
	.container h1 {
		margin-top:-60px;
		font-size: 48px;
	}
	.home-button-2 {
		font-size:18px;
		margin-top:-100px;
	}
	.container h2 {
		font-size:20px;
	}
	.container h3 {
		font-size: 20px;
	}
}

@media only screen and (max-width: 751px){
	.container h1 {
		margin-top:-90px;
		font-size: 38 px;
		
	}
	.form tip {
		margin-bottom:-100px;
	}
	.home-button-2 {
		font-size:15px;
		margin-top: -200px;
	}
	h78
	.container h2 {
		font-size:16px;
	}
	.container h3 {
		font-size: 16px;
	}
}

@media only screen and (max-width: 640px){
	
}