
* 
.dlb{
	margin-left:118px;
	margin-top:30px;
}
.home-button-1{
  border-radius:3px; 
		padding-left:20px;
	   font-size:20px;
		font-family: "Microsoft YaHei";
		display: inline-block;
		margin:0 0px;
		padding:10px 28px;
		border:1px solid rgba(255,255,255,1);
		background:rgba(0,0,0,0);
		color:#DDDDDD;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
}

.home-button-1:hover{
	font-family: "Microsoft YaHei";
		color:#424242;
		background:rgba(255,255,255,0.9);
		border:1px solid rgba(255,255,255,0);
	}
.home-button-2{
	    font-size:20px;
		font-family: "Microsoft YaHei";
		display: inline-block;
		margin:0 0px;
		padding:5px 28px;
		background:rgba(0,0,0,0);
		color:#DDDDDD;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
}

.home-button-2:hover{
	    font-family: "Microsoft YaHei";
		color:rgba(45,108,162,1);
		background:rgba(255,255,255,0.9);
		border:1px solid rgba(255,255,255,0);
	}
.form{
  margin-top: -20px;
}
.blank{
  height: 20px;
  width:100%;
}
.ran0{
    width: 100%;
    height: 250px;
    background: #6d5297;
    background: -webkit-linear-gradient(top, #286090 0%, #337AB7 100%);
    background: linear-gradient(top, #286090 0%, #337AB7 100%);
    margin-bottom: 100px;
}
.ran0 h1 {
  font-size:55px;
  font-family:"Microsoft YaHei";
  margin-top:-0px;
    padding-top:65px;
    padding-left:120px;
    line-height:1;
    color:#fff
}
.ran0 h3 {
  font-size:25px;
  font-family:"Microsoft YaHei";
  margin-top:12px;
    padding-left:120px;
    font-weight:100;
    line-height:1;
    color:#B0C4DE
}
.randl{
    width: 100%;
    height: 450px;
    background: #6d5297;
    background: -webkit-linear-gradient(top, #323232 0%, #424242 100%);
    background: linear-gradient(top, #286090 0%, #337AB7 100%);
    margin-bottom: 100px;
}
.randl h1 {
  font-size:55px;
  font-family:"Microsoft YaHei";
  margin-top:-0px;
    padding-top:65px;
    padding-left:120px;
    line-height:1;
    color:#fff
}
.randl h3 {
  font-size:25px;
  font-family:"Microsoft YaHei";
  margin-top:-0px;
    padding-top:2px;
    padding-left:120px;
    line-height:1;
    color:#ddd;
}
.searchinput{

	padding-top:9px;
    border-right-width: 0px;
    padding-left: 3px;
    width: 200px;
    font-family: arial;
    border-top-width: 0px;
    border-bottom-width: 0px;
    color: #636365;
    vertical-align: middle;
    font-size: 8pt;
    border-left-width: 0px;
}
.tab_search{
	position:absolute;
	left:75%;
	width:180px;
	padding-left:5px;
	padding-top:2px;
	padding-bottom:2px;
    border-bottom: #cccccc 1px solid;
    border-left: #cccccc 1px solid;
    height: 25px;
    border-top: #cccccc 1px solid;
    border-right: #cccccc 1px solid;
    border-radius: 5px;
}
.searchaction{
    width: 21px;
    float: left;
    height: 17px;
}